/* line 1, work.scss */
.work-container {
  clear: both;
  padding-top: 100px;
  margin: 0 auto;
}

/* line 7, work.scss */
.work-thumbnail-block {
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
/* line 15, work.scss */
.work-thumbnail-block a {
  padding-right: 10px;
  padding-left: 10px;
}

/* line 21, work.scss */
.work-thumbnail {
  margin-right: 30px;
}
/* line 23, work.scss */
.work-thumbnail:hover {
  opacity: 0.5;
}

/* line 28, work.scss */
.work-image {
  padding-bottom: 40px;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

/* line 38, work.scss */
.work-content-block {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 42, work.scss */
.work-content-block .work-title {
  color: #000;
  font-size: 16px;
}

/* line 47, work.scss */
.work-block-container {
  position: relative;
  cursor: pointer;
}

/* line 52, work.scss */
.work-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

/* line 61, work.scss */
.text-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* line 72, work.scss */
.work-block-container:hover .work-image {
  opacity: 0.3;
}

/* line 76, work.scss */
.work-block-container:hover .text-middle {
  opacity: 1;
}

/* line 80, work.scss */
.heading-text {
  color: #0030A5;
  font-size: 20px;
  padding: 16px 32px;
  font-weight: 500;
}

@media only screen and (max-width: 720px) {
  /* line 89, work.scss */
  .work-thumbnail-block {
    padding-right: 20px;
    padding-left: 20px;
  }
}
